:root {
	--background-color: #262C57;
	--text-color: #FFADBB;
	--link-color: rgb(255,255,255,.3);
	--page-border: 2rem;
}

* {
	box-sizing: border-box;
}

html {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0 var(--page-border);
	font-family: transat, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: var(--text-color);
	background: var(--background-color);
	font-size: 16px;
	line-height: 1.3;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
}

main {
	margin: 0;
	width: 100%;
	flex-grow: 1;
	z-index: 1;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

header {
	position: sticky;
	top: 0;
	z-index: 2;
	width: 100%;
	padding: var(--page-border) 0;
}

nav a {
	font-weight: bold;
	display: inline-block;
	margin-right: .5rem;
}

footer {
	padding: var(--page-border) 0;
	font-size: 0.8rem;
	z-index: 1;
}

a {
	color: currentColor;
	text-decoration: none;
	background: linear-gradient(var(--link-color) 0%, var(--link-color) 100%) no-repeat;
	background-size: 100% 2px;
	background-position: 0% 100%;
	transition: background .15s;
}

a:hover {
	color: currentColor;
	text-decoration: none;
	background-size: 100% 5px;
	background-position: 0% 100%;
}

a:active,
a[aria-current] {
	background-position: 0% 0%;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

@media (max-width: 1000px) {
	body {
		font-size: 14px;
	}
}

@media (max-width: 700px) {
	body {
		padding: 0 1rem;
	}

	header, footer {
		padding: 1rem 0;
	}
}